@media screen and (max-width: 350px) {
    * {
        font-size: small;
    }
    body {
        font-size: 13px;
    }
}
@media screen and (min-width: 750px) {
    * {
        line-height: 1.7rem;
    }
    body {
        font-size: 17px;
    }
    .sp {
        display: none;
    }
    .pc, nav {
        display: block;
    }
    .float {
        display: none;
    }

    /* ヘッダー */
    header {
        align-items: flex-start;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
    header h1 {
        margin-right: 1rem;
    }
    header .tel {
        pointer-events: none;
    }
    header .left {
        display: flex;
        align-items: baseline;
    }
    header h1 img, header .tel img {
        height: 2.4rem;
    }
    nav ul {
        display: flex;
    }
    nav li {
        font-size: 0.85rem;
        font-weight: bold;
        margin-right: 0.7rem;
    }
    nav li a {
        line-height: 1rem;
        letter-spacing: 0;
    }

    /* メインビジュアル */
    .mv .inner {
        padding: 1rem 1rem 0;
    }

    /* こんなお悩みありませんか？ */
    .worries .ttl {
        padding-top: 2rem;
        margin: 0 auto 2rem;
    }
    .worries li {
        margin-bottom: 0.8rem;
    }
    .worries li:before {
        top: 0.2rem;
    }

    /* ハチ駆除の達人が選ばれる理由 */
    .reason {
        margin: 2.5rem auto 0;
    }
    .reason h3 {
        font-size: 1.9rem;
        margin: 0 auto 4rem;
    }
    .marker:before {
        width: 27rem;
    }
    .reason h3:before, .reason h3:after, .flow h3:before, .flow h3:after {
        width: 2rem;
        height: 3rem;
        left: -2.5rem;
    }
    .reason h3:after, .flow h3:after {
        left: auto;
        right: -2.5rem;
    }
    .reason .inner {
        max-width: 800px;
    }
    .reason ul {
        margin-bottom: 2rem;
    }
    .reason li {
        width: 180px;
        font-size: 1.1rem;
        line-height: 1.6rem;
        margin-bottom: 11rem;
        letter-spacing: 1px;
    }
    .reason li:after {
        width: 10rem;
        height: 10.5rem;
    }
    .reason h4 {
        font-size: 1.4rem;
    }
    .reason h4:after {
        bottom: -1.4rem;
    }
    .reason .inner:nth-of-type(2) li {
        width: 130px;
        margin: 0 0.5rem;
    }
    .reason h5 {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    /* CTA */
    .cta h4 {
        font-size: 1.7rem;
        letter-spacing: 1px;
    }
    .cta h4:before, .cta h4:after {
        width: 1.5rem;
        height: 1.6rem;
        left: -2.5rem;
    }
    .cta h4:after {
        left: auto;
        right: -2.5rem;
    }
    .cta h5 {
        font-size: 1.5rem;
    }
    .cta ul {
        max-width: 450px;
        margin: 1.5rem auto 1rem;
    }
    .cta li {
        width: 30%;
    }
    .cta .txt {
        width: 450px;
        margin: 0 auto 1rem;
    }
    .cta .box {
        background-color: #fff;
        padding: 0.7rem 1rem;
        width: 530px;
        margin: auto;
    }
    .cta .hd {
        display: flex;
        justify-content: center;
        margin-bottom: 0.7rem;
    }
    .cta .hd span {
        font-size: 1rem;
        display: block;
        color: #9b060f;
        font-weight: bold;
        border: 1.5px solid #9b060f;
        padding: 0.1rem 0.5rem;
        margin: 0 0.5rem;
    }
    .cta .bottom {
        margin: 1rem auto 2rem;
        max-width: 1000px;
    }
    .cta .bottom .inner {
        display: flex;
        align-items: flex-start;
        margin: 0 1rem;
    }
    .cta .bnr, .cta .card {
        height: 6.1rem;
        width: auto;
    }
    .cta .card {
        padding: 1rem 0;
        margin-left: 1rem;
    }
    .cta .card ul {
        width: 100%;
        margin: 0;
        padding: 0 0.2rem;
    }

    /* コロナウイルス予防対策実施中 */
    .notice h3 {
        font-size: 1.8rem;
        padding: 1.5rem 0;
    }
    .notice .inner {
        padding: 1.5rem 1rem 2rem;
    }
    .notice li {
        width: 25%;
    }

    /* あなたのお家にあるのはどのハチの巣？ */
    .details h3, .tether {
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .details .inner {
        padding: 4rem 0 1rem;
    }
    .details .top {
        display: flex;
    }
    .details .top .item {
        width: 33%;
        flex-direction: column;
    }
    .details .top .item:before {
        top: -2rem;
        bottom: auto;
        right: 0;
        left: 0;
        border-width: 1rem 1rem 0 1rem;
        border-color: #2c2c2c transparent transparent transparent;
    }
    .details .left {
        width: 80%;
        padding: 0;
        margin-bottom: 1.5rem;
    }
    .details .right {
        width: 100%;
    }
    .details .right span {
        display: block;
        width: 10rem;
        margin: auto;
        padding: 0.4rem 0.5rem 0.4rem 3rem;
    }
    .details .right p {
        margin-top: 0.5rem;
    }
    .details .right span:before {
        line-height: 2.5rem;
        height: 2.5rem;
    }
    .details .bottom {
        max-width: 800px;
        margin: auto;
    }
    .details .bottom .item {
        margin: 0 1rem 1.5rem;
    }
    .details .item .box {
        display: flex;
        align-items: flex-start;
        margin: 1.5rem;
    }
    .details table {
        background-color: #ffdd4b;
        margin-bottom: 1rem;
    }
    .details td:first-child, .details td:nth-child(2) {
        border: 2px solid #2c2c2c;
    }
    .name {
        font-size: 1.4rem;
        padding: 0.7rem 0;
    }
    .name span {
        font-size: 1.5rem;
    }
    .details .image {
        width: 35%;
        height: auto;
        margin: 1rem;
    }
    .details .image img {
        height: 180px;
    }
    .details .flex_right {
        width: 65%;
    }
    .details td img {
        height: 1.9rem;
    }
    .details .txt {
        margin: 0;
    }

    /* アナフィラキシーショック */
    .warning h3 {
        padding: 2rem 0.5rem 0;
    }
    .warning .inner {
        padding: 2rem 1rem 2.5rem;
    }
    .warning dt {
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
    }
    .warning dd {
        margin-bottom: 0.5rem;
    }

    /* 戻りバチ対策・再発予防 */
    .relief {
        margin: 2rem 1rem;
    }
    .relief h3 {
        font-size: 1.8rem;
        line-height: 2.6rem;
        margin-bottom: 2rem;
    }
    .relief .marker:before {
        width: 20rem;
    }
    .relief h3:before, .relief h3:after {
        width: 4rem;
        left: -4rem;
    }
    .relief h3:after {
        left: auto;
        right: -4rem;
    }
    .relief .inner {
        display: flex;
        align-items: flex-start;
    }
    .relief .inner img {
        width: 200px;
    }
    .relief .flex_right {
        padding-left: 1rem;
    }
    .relief h4 {
        font-size: 1.4rem;
    }

    /* 他社との比較 */
    .cp .ttl {
        padding: 1rem 0 0.8rem;
    }
    .cp .chart {
        width: 550px;
        margin: auto;
        padding: 2rem 1rem;
    }
    .cp aside {
        text-align: center;
        padding: 0 1rem 2rem;
    }

    /* 作業の流れ */
    .flow {
        margin-top: 3rem;
    }
    .flow h3 {
        font-size: 1.9rem;
        margin-bottom: 3rem;
    }
    .flow .marker:before {
        width: 25rem;
    }
    .flow .inner .box {
        max-width: 780px;
        margin: auto;
    }
    .flow .item {
        background-color: #eaeaea;
        border: 1.5px solid #000;
        padding: 1.5rem;
        margin-bottom: 2.3rem;
    }
    .flow .item:after {
        content: "";
        width: 0;
        height: 0;
        bottom: -1.3rem;
        border-style: solid;
        border-width: 1.3rem 1.5rem 0 1.5rem;
        border-color: #2c2c2c transparent transparent transparent;
    }
    .flow .left {
        width: 200px;
    }
    .flow .right {
        width: 100%;
        padding-left: 1.5rem;
    }
    .flow .item span {
        font-size: 1.5rem;
    }
    .flow .hd {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .flow .txt {
        font-size: 1.05rem;
        line-height: 1.7rem;
    }
    .flow .break {
        background-color: #fff;
        border: none;
        border-bottom: 2px dashed #b51117;
        text-align: center;
        padding: 1rem 0 0;
    }
    .flow .break:after {
        display: none;
    }
    .flow .break span {
        margin: 0 auto 1.5rem;
    }
    .flow .break p {
        font-size: 1.1rem;
        margin-bottom: 0.8rem;
    }
    .flow aside {
        font-size: 0.8rem;
        margin: 0 auto 1.5rem;
    }

    /* 対応地域 */
    .area .inner {
        padding: 2rem 0;
    }
    .area h3 {
        font-size: 1.9rem;
    }
    .area h4 {
        font-size: 1.4rem;
        margin-bottom: 3rem;
    }
    .map {
        width: 350px;
    }

    /* お客様の声 */
    .voice {
        margin: 2rem 0 3.5rem;
    }
    .voice .ttl p {
        font-size: 1.4rem;
    }
    .voice h3 {
        width: 430px;
    }
    .voice .hd {
        font-size: 1.2rem;
        padding: 1rem;
    }
    .voice .inner {
        padding: 1rem 1rem 3rem;
    }
    .voice .photo {
        width: 150px;
    }
    .voice .txt {
        padding-left: 1rem;
    }/* 
    .voice .txt {
        font-size: 1rem;
        line-height: 1.7rem;
        padding-left: 1rem;
    } */
    .slick-initialized .slick-slide {
        opacity: 0.5;
    }
    .slick-active.slick-center {
        opacity: 1;
    }
    .slick-prev, .slick-next {
       width: 20%;
       right: auto;
       left: 0; 
    }
    .slick-next {
        left: auto;
        right: 0;
    }

    /* よくあるご質問 */
    .faq h3 {
        font-size: 1.9rem;
        padding: 1.5rem 0;
        margin-bottom: 2rem;
    }
    .faq .inner {
        max-width: 840px;
        margin: auto;
    }
    .faq dt, .faq dd {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    /* フッター */
    .bm aside {
        font-size: 0.8rem;
        line-height: 1.1rem;
    }
    footer {
        padding: 1rem 0
    }

    /* 会社概要・プラポリ・利用規約 */
    .company td {
        padding-left: 2rem;
    }

}

@media screen and (min-width: 1000px) {
    /* ヘッダー */
    header {
        padding: 0.5rem 1rem;
    }
    header h1 img, header .tel img {
        height: 2.7rem;
    }
    header h1 {
        margin-right: 2rem;
    }
    nav li {
        font-size: 1rem;
        margin-right: 1rem;
    }

    /* メインビジュアル */
    .mv h2 img {
        margin: auto;
    }

    /* コロナウイルス */
    .notice .inner {
        padding: 2rem 0 3rem;
    }
    .notice p {
        text-align: center;
        margin-bottom: 2rem;
    }

    /* CTA */
    .cta .card p {
        font-size: 0.9rem;
    }
    .cta .bnr, .cta .card {
        height: 7.7rem;
        width: auto;
    }

    /* ご利用料金 */
    .details .inner {
        padding: 6rem 0 1rem;
    }
    .details .top {
        max-width: 850px;
    }
    .details .top .item:before {
        top: -3rem;
    }
    .details .left {
        margin-bottom: 2rem;
    }
    .details .right p {
        margin-top: 0.8rem;
    }
    .tether {
        padding: 3rem 0 2rem;
    }

    /* 再発予防 */
    .relief {
        margin: 3rem 1rem;
    }

    /* 利用者の声 */
    .voice .hd {
        font-weight: bold;
    }
    .voice .txt {
        font-size: 1rem;
        line-height: 1.7rem;
    }
    .voice span {
        font-size: 0.8rem;
        bottom: 1rem;
        right: 1rem;
    }

    /* 会社概要・プラポリ・利用規約 */
    .company h2, .privacy h2, .sitepolicy h2 {
        font-size: 1.4rem;
    }
    .company .inner, .privacy .inner, .sitepolicy .inner {
        margin: 1.5rem auto;
    }
    .company td {
        padding-left: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    /* こんなお悩みありませんか？ */
    .worries .ttl {
        max-width: 620px;
        padding-top: 3.5rem;
        margin: 0 auto 3.5rem;
    }
    .worries ul {
        margin: 0 auto 3rem;
    }
    .worries li {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        padding-left: 2rem;
    }
    .worries li:before {
        width: 1.3rem;
        height: 1.3rem;
    }
    .worries h4 {
        padding: 2rem 0;
    }
    .worries h4 img {
        max-width: 500px;
    }

    /* 選ばれる理由 */
    .reason {
        margin: 4rem auto 0;
    }
    .reason h3 {
        font-size: 2.2rem;
    }
    .marker:before {
        width: 31rem;
    }
    .reason h3:before, .reason h3:after, .flow h3:before, .flow h3:after {
        width: 2.5rem;
        height: 3.5rem;
        left: -3.3rem;
    }
    .reason h3:after, .flow h3:after {
        left: auto;
        right: -3.3rem;
    }
    .reason .inner {
        max-width:
         1000px;
    }
    .reason ul {
        margin-bottom: 5rem;
    }
    .reason li {
        width: 220px;
        font-size: 1.15rem;
    }
    .reason li:after {
        width: 11.5rem;
        height: 12rem;
    }
    .reason h4 {
        font-size: 1.6rem;
        margin-bottom: 3rem;
    }
    .reason h4 span:before {
        bottom: -0.4rem;
    }
    .reason h4 span:after {
        bottom: -0.7rem;
    }
    .reason h4:after {
        bottom: -1.6rem;
    }
    .reason .inner:nth-of-type(2) li {
        width: 150px;
        margin: 0 1rem;
    }
    .reason .inner:nth-of-type(2) ul {
        margin-bottom: 4rem;
    }
    .reason h5 {
        font-size: 1.7rem;
        line-height: 4rem;
    }

    /* コロナウイルス */
    .notice h3 {
        font-size: 2.2rem;
        padding: 2rem 0;
    }

    /* 利用料金 */
    .details h3, .tether {
        font-size: 2.2rem;
        line-height: 4rem;
    }

    /* アナフィラキシーショック */
    .warning h3 {
        max-width: 670px;
        padding: 3rem 0.5rem 0;
    }
    .warning .inner {
        padding: 2rem 1rem 3rem;
    }

    /* 再発予防 */
    .relief {
        margin: 4rem 1rem;
    }
    .relief h3 {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 3rem;
    }
    .relief .marker:before {
        width: 22rem;
    }
    .relief h3:before, .relief h3:after {
        width: 4.5rem;
    }

    /* 他社比較 */
    .cp .ttl {
        padding: 1.5rem 0 1.3rem;
    }
    .cp h3 {
        max-width: 510px;
    }
    .cp .chart {
        padding: 2rem 1rem 1rem;
    }

    /* 作業の流れ */
    .flow h3 {
        font-size: 2.2rem;
    }
    .flow .marker:before {
        width: 29rem;
    }
    .flow .item:last-child {
        margin-bottom: 3rem;
    }

    /* 対応エリア */
    .area .inner {
        padding: 3rem 0;
    }
    .area h3 {
        font-size: 2.2rem;
    }
    .area h4 {
        font-size: 1.5rem;
    }

    /* 利用者の声 */
    .voice {
        margin: 3rem 0 4rem;
    }
    .voice .ttl p {
        font-size: 1.6rem;
        margin-bottom: 3rem;
    }
    .voice .ttl p:before, .voice .ttl p:after {
        bottom: -0.5rem;
    }
    .voice .ttl p:after {
        bottom: -0.7rem;
    }
    .voice h3 {
        width: 480px;
        margin: 0 auto 2.5rem;
    }

    /* よくあるご質問 */
    .faq h3 {
        font-size: 2.2rem;
        padding: 2rem 0;
    }

    /* 会社概要・プラポリ・利用規約 */
    .company h2, .privacy h2, .sitepolicy h2 {
        font-size: 1.6rem;
    }
}

