* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #161616;
    text-decoration: none;
    line-height: 1.4rem;
    letter-spacing: 0.5px;
}
html {
    background: #fff;
}
body {
    width: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: heisei-maru-gothic-std, tbchibirgothicplusk-pro, -apple-system, BlinkMacSystemFont,"Hiragino Kaku Gothic ProN","Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,メイリオ,Meiryo,sans-serif;
    font-style: normal;
    position: relative;
    z-index: 0;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;/*Chrome,Safari*/
    -ms-text-size-adjust: 100%;/*EgdeMobile*/
    -moz-text-size-adjust: 100%;/*firefox*/
}
h1, h2 ,h3 ,h4, h5 h6 {
    font-size: 100%;
}
ul, li, ol {
    list-style: none;
}
a, p {
    display: block;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

/* その他 */
.pc, nav {
    display: none;
}
.sp {
    display: block;
}
.ttl {
    text-align: center;
}
h3 {
    display: block;
    font-family: tbudgothic-std,sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    position: relative;
}
h4 {
    font-family: tbudgothic-std,sans-serif;
    font-weight: 900;
    font-style: normal;
}
.marker {
    width: 100%;
    position: relative;
}
.marker:before {
    content: '';
    width: 100%;
    height: 1rem;
    background-color: #a8dad8;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.3rem;
    margin: auto;
    z-index: -1;
}
.red {
    font-weight: bold;
    color: #d60a14;
}
.reason h3:before, .reason h3:after, .flow h3:before, .flow h3:after {
    content: '';
    background-image: url(../img/reason_icon.svg);
    background-repeat: no-repeat;
    width: 1rem;
    height: 2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1.5rem;
    margin: auto;
}
.reason h3:after, .flow h3:after {
    left: auto;
    right: -1.5rem;
    transform: rotate(180deg);
}

/* ヘッダー */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #fff;
    z-index: 1000;
}
header h1 img, header .tel img {
    width: auto;
    height: 2.4rem;
}

/* メインビジュアル */
.mv {
    background-color: #ffdd4b;
}
.mv p.sp {
    font-size: 1.1rem;
    line-height: 2rem;
    color: #fff;
    font-weight: bold;
    background-color: #00696e;
    text-align: center;
}
.mv .inner {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding:  0.5rem 0 0;
}
.mv .inner:after {
    content: "";
    background-image: url(../img/mv_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    width: 300%;
    height: 300%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-left: -100%;
}
.mv h2 img {
    max-width: 1000px;
    position: relative;
    z-index: 2;
}

/* こんなお悩みありませんか？ */
.worries {
    background-image: url(../img/worries_bg.png);
    background-size: cover;
    background-position: center right 45%;
}
.worries .ttl {
    width: 90%;
    max-width: 530px;
    padding-top: 1.5rem;
    margin: 0 auto 1.5rem;
}
.worries .inner {
    text-align: center;
}
.worries ul {
    display: inline-block;
    text-align: left;
    margin: 0 1rem 1.5rem;
}
.worries li {
    color: #fff;
    padding-left: 1.3rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.worries li:before {
    content: "";
    background: url(../img/worries_icon.svg) center no-repeat;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0;
    top: 0.1rem;
}
.worries h4 {
    background-color: #ffdd4b;
    padding: 1rem 0;
}
.worries h4 img {
    width: 85%;
    max-width: 450px;
    margin: auto;
}

/* 選ばれる理由 */
.reason {
    margin: 1.5rem auto 0;
    text-align: center;
}
.reason h3 {
    display: inline-block;
    font-size: 1.35rem;
    z-index: 2;
    margin: 0 auto 2rem;
}
.marker:before {
    content: '';
    width: 19.5rem;
    height: 1rem;
    background-color: #a8dad8;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.3rem;
    margin: auto;
    z-index: -1;
}
.reason .inner {
    max-width: 500px;
    margin: auto;
}
.reason ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.reason li {
    width: 47%;
    line-height: 1.3rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
    position: relative;
    margin-bottom: 10.5rem;;
    text-align: center;
}
.reason li:after {
    content: '';
    background-image: url(../img/reason_img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 9.2rem;
    height: 9.65rem;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin: auto;
}
.reason li:nth-child(2):after {
    background-image: url(../img/reason_img2.png);
}
.reason li:nth-child(3):after {
    background-image: url(../img/reason_img3.png);
}
.reason li:nth-child(4):after {
    background-image: url(../img/reason_img4.png);
}
.reason h4 {
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
}
.reason h4:after {
    content: '';
    position: absolute;
    bottom: -1.3rem;
    right: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1rem 1rem 0 1rem;
    border-color: #000 transparent transparent transparent;
}
.reason h4 span {
    width: 100%;
    position: relative;
}
.reason h4 span:before, .reason h4 span:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -0.3rem;
    right: 0;
}
.reason h4 span:after {
    bottom: -0.5rem;
}
.reason .inner:nth-of-type(2) li:after {
    display: none;
}
.reason .inner:nth-of-type(2) li {
    width: 28%;
    margin: 0 0.3rem;
    padding: 0;
}
.reason h5 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-family: tbudgothic-std,sans-serif;
    font-weight: 900;
    padding: 1rem;
    background-color: #ffdd4b;
}

/* CTA */
.cta .top {
    text-align: center;
    background-color: #2c2c2c;
    padding: 1.5rem 1rem;
}
.cta h4 {
    display: inline-block;
    font-size: 1.4rem;
    color: #ffdd4b;
    position: relative;
    margin-bottom: 1.5rem;
}
.cta h4:before, .cta h4:after {
    content: '';
    background-image: url(../img/cta_siren.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.3rem;
    height: 1.5rem;
    position: absolute;
    left: -2rem;
    bottom: 0;
}
.cta h4:after {
    left: auto;
    right: -2rem;
}
.cta h5 {
    font-size: 1.3rem;
    color: white;
}
.cta ul {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1.5rem auto;
}
.cta li {
    width: 32%;
}
.cta .btn_box {
    background-color: #fff;
    padding: 0.7rem 0 1.3rem;
    border-radius: 10px;
}
.cta .txt {
    width: 90%;
    margin: 0 1rem 0.8rem;
}
.query {
    background-color: #ff5500;
    padding: .2rem 0;
    margin-bottom: 1rem;
}
.query p {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    position: relative;
}
.query p:before, .query p:after {
    content: url(../img/cta_arrow.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 0;
    left: -1.5rem;
}
.query p:after {
    left: auto;
    right: -1.5rem;
}
.cta a {
    margin: 0 0.5rem;
    position: relative;
    animation: strech 4.5s both infinite;
    -webkit-animation: strech 4.5s both infinite;
}
@-webkit-keyframes strech {
0% { -webkit-transform: scale3d(1.01, 1.01, 1.01); }
50%{ -webkit-transform: scale3d(0.98, 0.98, 0.98); }
100% { -webkit-transform: scale3d(1.01, 1.01, 1.01); }
}
@keyframes strech {
0% { transform: scale3d(1.01, 1.01, 1.01); }
50%{ transform: scale3d(0.98, 0.98, 0.98); }
100% { transform: scale3d(1.01, 1.01, 1.01); }
}
.cta a img {
    filter: drop-shadow( 0 4px 0 #052000e3);
}
.cta a:after {
    content: url(../img/cta_icon4.svg);
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: -0.6rem;
    bottom: -0.8rem;
}
.cta .bottom {
    margin: 1rem;
}
.cta .bnr {
    margin-bottom: 0.5rem;
}
.cta .card {
    background-color: #eaeaea;
    border: 1px solid #c1c1c1;
    text-align: center;
    padding: 0.5rem 0;
}
.cta .card p {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.cta .card ul {
    margin: 0 1rem;
}
.cta .card li {
    width: 13.5%;
}

/* コロナウイルス予防対策実施中 */
.notice {
    background-color: #e6f6f7;
}
.notice .inner {
    padding: 1.3rem 1rem 1.5rem;
}
.notice h3 {
    font-size: 1.2rem;
    color: white;
    background-color: #27888e;
    padding: 1rem 0;
}
.notice p {
    margin-bottom: 1rem;
}
.notice ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 770px;
    margin: auto;
}
.notice li {
    width: 50%;
    padding: 0.5rem;
}

/* あなたのお家にあるのはどのハチの巣？ */
.details, .area {
    background-color: #ffdd4b;
}
.details .inner, .area .inner {
    background-image: url(../img/details_bg.png);
    background-size: 380px;
    background-repeat: repeat;
    padding: 1.5rem 0 0.5rem;
}
.details h3, .tether {
    font-family: tbudrgothic-std,sans-serif;
    font-size: 1.35rem;
    line-height: 2rem;
    font-weight: 900;
    color: #fff;
    font-style: normal;
    background-color: #2c2c2c;
    padding: 1rem 0;
}
.tether {
    display: block;
    color: #000;
    background-color: transparent;
    text-align: center;
}
.details h3 span {
    color: #ffdd4b;
}
.details .top {
    max-width: 700px;
    margin: auto;
}
.details .top .item {
    display: flex;
    align-items: center;
    margin: 0 auto 1rem;
    position: relative;
}
.details .top .item:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.8rem 0 0.8rem 1.2rem;
    border-color: transparent transparent transparent #000;    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1rem;
    margin: auto;
	-webkit-animation:blink 1s ease-in-out infinite alternate;
    -moz-animation:blink 1s ease-in-out infinite alternate;
    animation:blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
.details .left {
    width: 45%;
    padding-left: 15%;
}
.details .right {
    position: relative;
    width: 55%;
    text-align: center;
}
.details .right span {
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #000;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    position: relative;
}
.details .right span:before {
    content: 'A';
    font-size: 1.2rem;
    line-height: 2.2rem;
    display: inline-block;
    color: #fff;
    background-color: #000;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 2.2rem;
    height: 2.2rem;
}
.details .top .item:nth-child(2) .right span:before {
    content: 'B';
}
.details .top .item:nth-child(3) .right span:before {
    content: 'C';
}
.details .right p {
    width: 100%;
    font-weight: bold;
    margin-top: 1rem;
}
.details .tether:after {
    content: url(../img/details_icon1.svg);
    display: block;
    width: 3rem;
    margin: 1.5rem auto 0.5rem;
}
.details .bottom .item {
    background-color: #fff;
    border: 2px solid #2c2c2c;
    margin: 0 1rem 1rem;
    filter: drop-shadow(4px 4px 0 rgba(133, 108, 0, 0.329));
}
.name {
    background-color: #2c2c2c;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem 0;
}
.name span {
    font-size: 1.35rem;
    color: #ffdd4b;
    margin-right: 2px;
}
.details .image {
    height: 8rem;
    width: auto;
    margin-left: 3rem;
}
.details .image img {
    width: auto;
}
.details table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ececec;
}
.details td {
    border: 2px solid #2c2c2c;
    padding: 0.5rem;
    width: auto;
}
.details td img {
    height: 1.6rem;
    width: auto;
    margin: auto;
}
.details td:first-child {
    width: 47%;
    border-left: none;
}
.details td:nth-child(2) {
    border-right: none;
}
.details .txt {
    margin: 1rem;
}

/* アナフィラキシー */
.warning {
    background-image: url(../img/warning_bg.png);
    background-size: cover;
    background-position: center;
}
.warning .inner {
    max-width: 720px;
    margin: auto;
    padding: 1rem 1rem 1.5rem;
}
.warning h3 {
    max-width: 650px;
    padding: 1rem 0.5rem 0;
    margin: auto;
}
.warning dl {
    margin-bottom: 1.5rem;
}
.warning dt, .warning dd {
    font-weight: bold;
    color: white;
}
.warning dt {
    font-size: 1.1rem;
    color: #ffe761;
    margin-bottom: 0.5rem;
}
.warning dd {
    margin-bottom: 0.3rem;
    padding-left: 0.8rem;
    position: relative;
}
.warning dd:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 0;
    top: 0.5rem;
}
.warning .box {
    border: 2px solid #000;
    border-radius: 10px;
}
.warning .hd {
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #27888d;
    border-bottom: 2px solid #000;
    border-radius: 10px 10px 0 0;
    padding: 0.5rem 0;
}
.warning .txt {
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 0 0 10px 10px;
}
.warning span {
    font-weight: bold;
}
.warning .green {
    color: #27888c;
}

/* 戻りバチ対策・再発予防 */
.relief {
    text-align: center;
    margin: 1.5rem 1rem;
}
.relief h3 {
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.9rem;
    position: relative;
    margin-bottom: 1rem;
}
.relief h3:before, .relief h3:after {
    content: url(../img/relief_ttl_side.svg);
    display: block;
    width: 4.5rem;
    position: absolute;
    left: -3.5rem;
    bottom: 0;
}
.relief h3:after {
    left: auto;
    right: -3.5rem;
    transform: scale(-1, 1);
}
.relief .marker:before {
    width: 14rem;
}
.relief .inner {
    max-width: 800px;
    margin: auto;
}
.relief h4 {
    font-size: 1.1rem;
    margin: 1rem 0;
}
.relief img {
    border: 2px solid #2c2c2c;
    padding: 3px;
}
.relief .txt {
    text-align-last: left; 
}

/* 大手ハチ駆除業者と比べて分かるメリット */
.cp {
    background-color: #fffbe5;
}
.cp .ttl {
    background-color: #ffdd4b;
    padding: 0.5rem 0;
}
.cp h3 {
    width: 90%;
    max-width: 480px;
    margin: auto;
}
.cp h3 img {
    margin-left: -2%;
}
.cp .chart {
    padding: 1.5rem 1rem 1rem;
}
.cp aside {
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 0 1rem 1rem;
}

/* お客様のお悩みを完全解決！ */
.flow {
    text-align: center;
    margin-top: 2rem;
}
.flow h3 {
    display: inline-block;
    font-size: 1.35rem;
    margin-bottom: 2rem;
}
.flow .marker:before {
    width: 18rem;
    background-color: #ffdd4b;
}
.flow .inner {
    margin: 0 1rem;
}
.flow .item {
    display: flex;
    align-items: flex-start;
    text-align: left;
    position: relative;
    margin-bottom: 3rem;
}
.flow .item:after {
    content: url(../img/flow_arrow.svg);
    width: 1.4rem;
    display: block;
    position: absolute;
    bottom: -2.5rem;
    right: 0;
    left: 0;
    margin: auto;
}
.flow .item:nth-child(3) {
    margin-bottom: 1rem;
}
.flow .item:last-child {
    margin-bottom: 1.5rem;
}
.flow .item:nth-child(3):after, .flow .item:last-child:after {
    display: none;
}
.flow .right {
    width: 60%;
    padding-left: 0.5rem;
}
.flow .left {
    width: 40%;
    border-radius: 10px;
}
.flow .item span {
    font-size: 1.2rem;
    line-height: 1rem;
    color: #b51117;
    font-weight: bold;
}
.flow .hd {
    line-height: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.flow .txt {
    font-size: 0.9rem;
    line-height: 1.3rem;
}
.flow .break {
    flex-direction: column;
    border-bottom: 2px dashed #b51117;
}
.flow .break span {
    font-size: 1rem;;
    color: #fff;
    background-color: #b51117;
    padding: 0.7rem 1.5rem;
    margin: 0 auto 0.5rem;
}
.flow .break p {
    font-weight: bold;
    line-height: 1.3rem;
    display: block;
    color: #b51117;
    margin-bottom: 0.3rem;
}
.flow aside {
    font-size: 0.7rem;
    line-height: 0.95rem;
    margin-bottom: 0.7rem;
}

/* 対応地域 */
.area .inner {
    padding: 1.5rem 0;
}
.area h3 {
    font-size: 1.35rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}
.area h4 {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.map {
    width: 60%;
    margin: auto;
    position: relative;
}
.map img:first-child {
    margin-left: -5%;
}
.bee {
    width: 2rem;
    -webkit-animation: mover 1.2s infinite  alternate;
    animation: mover 1.2s infinite  alternate;
    position: absolute;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.bee2 {
    -webkit-animation: mover2 1.2s infinite  alternate;
    animation: mover2 1.2s infinite  alternate;
    animation-delay: 1s;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(0) scale(-1, 1); }
    100% { transform: translateY(-10px) scale(-1, 1); }
}
@keyframes mover2 {
    0% { transform: translateY(0) scale(-1, 1); }
    100% { transform: translateY(-10px) scale(-1, 1); }
}
.bee1 {
    top: 0;
    right: -3rem;
}
.bee2 {
    bottom: 0;
    left: -3rem;
}

/* お客様の声 */
.voice {
    margin: 1.5rem 0 2.5rem;
}
.voice .ttl p {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 1.8rem;
}
.voice .ttl p:before, .voice .ttl p:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -0.1rem;
    right: 0;
}
.voice .ttl p:after {
    bottom: -0.3rem;
}
.voice h3 {
    width: 80%;
    margin: 0 auto 1.5rem;
}
.voice .item {
    margin: 0 1rem 0.5rem;
    border: 2px solid #2c2c2c;
    position: relative;
    z-index: 1;
}
.voice .item:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -7px;
    right: -7px;
    background-color: #dedede;
    z-index: -2;
}
.voice .item:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #2c2c2c;
    border: 1px solid #2c2c2c;
    z-index: -1;
}
.voice .hd {
    font-size: 1rem;
    color: #ffdd4b;
    background-color: #2c2c2c;
    padding: 0.7rem;
}
.voice .inner {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0.5rem 2.5rem;
    background-color: #fff;
    position: relative;
}
.voice .photo {
    width: 30%;
}
.voice .txt {
    width: 70%;
    font-size: 0.9rem;
    line-height: 1.3rem;
    letter-spacing: 0;
    padding-left: 0.5rem;
}
.voice span {
    font-size: 0.7rem;
    color: #5f5f5f;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

/* よくあるご質問 */
.faq h3 {
    font-size: 1.35rem;
    padding: 1rem 0;
    background-color: #dedede;
    margin-bottom: 1.5rem;
}
.faq dl {
    margin: 0 1rem;
}
.faq dt, .faq dd {
    font-size: 0.9rem;
    font-weight: bold;
    position: relative;
    padding-left: 1.8rem;
}
.faq dt:before, .faq dd:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/faq_icon1.svg);
    width: 1.4rem;
    height: 1.4rem;
}
.faq dd:before {
    background-image: url(../img/faq_icon2.svg);
}
.faq dt {
    margin-bottom: 0.5rem;
}
.faq dd {
    line-height: 1.3rem;
    font-weight: normal;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #dedede;
}
.faq dd:last-child {
    border: none;
}
.faq aside {
    font-size: 0.7rem;
    line-height: 0.95rem;
}

/* フッター */
.float.fixed {
    position: fixed;
    bottom: -20px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    opacity: 1;
	transform: translate(0, -20px);
	transition: all .3s ease-out;
}
.float a {
    max-width: 380px;
    margin: auto;
}
.bm {
    background-color: #fffbe5;
    padding: 1.5rem 1rem;
}
.bm aside {
    font-size: 0.7rem;
    line-height: 0.95rem;
    max-width: 800px;
    margin: auto;
}
footer {
    text-align: center;
    padding: 1rem 0 8rem;
    background-color: #ffdd4b;
}
footer a {
    display: inline-block;
    font-size: 0.7rem;
    margin: 0 0.5rem 1rem;
}
footer small {
    display: block;
    font-size: 9px;
}

/* 会社概要 */
.company, .privacy, .sitepolicy {
    text-align: center;
}
.company h2, .privacy h2, .sitepolicy h2 {
    font-size: 1.2rem;
    color: #fff;
    padding: 0.5rem 0;
    background-color: #00696e;
}
.company .inner, .privacy .inner, .sitepolicy .inner {
    margin: 1.5rem 1rem;
    max-width: 1000px;
}
.privacy .inner, .sitepolicy .inner {
    margin: 1rem 1rem 1.5rem;
}
.company table {
    width: 100%;
    max-width: 750px;
    margin: 0 auto 1.5rem;
    border-collapse: separate;
    border-spacing: 0 1px;
}
.company th, .company td {
    font-size: 0.85rem;
    padding: 0.5rem 0;
}
.company th {
    font-size: 0.8rem;
    font-weight: normal;
    color: #fff;
    background-color: #2c2c2c;
    width: 26%;
    max-width: 200px;
}
.company td {
    display: block;
    width: 100%;
    background-color: #f1f1f1;
    padding-left: 0.5rem;
    text-align: left;
}
.home-btn {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: #00696e;
}

/* プライバシーポリシー */
.privacy h5, .sitepolicy h5 {
    font-size: 0.95rem;
    border: 2px solid #000;
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
}
.privacy .article {
    font-weight: bold;
    line-height: 1.8rem;
}
.privacy .item_privacy {
    margin-bottom: 1rem;
}
.privacy p, .privacy dt, .privacy dd, .sitepolicy p, .sitepolicy dd, .sitepolicy dt {
    font-size: 0.8rem;
    line-height: 1.3rem;
    text-align: left;
}
.privacy .details-box dt {
    font-weight: bold;
}
.privacy .details-box dl {
    margin-bottom: 0.5rem;
}
.privacy .details-box dl:last-child {
    margin-bottom: 0;
}
.privacy .item_privacy:first-of-type p:first-of-type, .privacy .item_privacy:first-of-type p:last-of-type {
    margin-bottom: 0.5rem;
}
.privacy .details-box {
    background-color: #f1f1f1;
    padding: 1rem;
}

/* 利用規約 */
.sitepolicy h5 {
    border: none;
    border-bottom: 2px solid #000;
}
.sitepolicy .article {
    font-weight: bold;
}
.sitepolicy .block_article {
    margin-bottom: 1rem;
}